[submodule "netclient"]
	path = netclient
	url = git@github.com:stangri/netclient.git
[submodule "adblock-fast"]
	path = adblock-fast
	url = git@github.com:stangri/adblock-fast.git
[submodule "https-dns-proxy"]
	path = https-dns-proxy
	url = git@github.com:stangri/https-dns-proxy.git
[submodule "luci-app-adblock-fast"]
	path = luci-app-adblock-fast
	url = git@github.com:stangri/luci-app-adblock-fast.git
[submodule "luci-app-advanced-reboot"]
	path = luci-app-advanced-reboot
	url = git@github.com:stangri/luci-app-advanced-reboot.git
[submodule "luci-app-https-dns-proxy"]
	path = luci-app-https-dns-proxy
	url = git@github.com:stangri/luci-app-https-dns-proxy.git
[submodule "luci-app-pbr"]
	path = luci-app-pbr
	url = git@github.com:stangri/luci-app-pbr.git
[submodule "pbr"]
	path = pbr
	url = git@github.com:stangri/pbr.git
[submodule "sunwait"]
	path = sunwait
	url = git@github.com:stangri/sunwait.git
[submodule "stangri"]
	path = stangri
	url = https://github.com/stangri/stangri.git
[submodule "remote-agent"]
	path = remote-agent
	url = https://github.com/stangri/remote-agent
[submodule "remote-controller"]
	path = remote-controller
	url = https://github.com/stangri/remote-controller
[submodule "luci-app-yaaw"]
	path = luci-app-yaaw
	url = git@github.com:stangri/luci-app-yaaw.git
