[submodule "netclient"]
	path = netclient
	url = git@github.com:stangri/netclient.git
[submodule "adblock-fast"]
	path = adblock-fast
	url = git@github.com:stangri/adblock-fast.git
[submodule "fakeinternet"]
	path = fakeinternet
	url = git@github.com:stangri/fakeinternet.git
[submodule "https-dns-proxy"]
	path = https-dns-proxy
	url = git@github.com:stangri/https-dns-proxy.git
[submodule "luci-app-adblock-fast"]
	path = luci-app-adblock-fast
	url = git@github.com:stangri/luci-app-adblock-fast.git
[submodule "luci-app-advanced-reboot"]
	path = luci-app-advanced-reboot
	url = git@github.com:stangri/luci-app-advanced-reboot.git
[submodule "luci-app-fakeinternet"]
	path = luci-app-fakeinternet
	url = git@github.com:stangri/luci-app-fakeinternet.git
[submodule "luci-app-https-dns-proxy"]
	path = luci-app-https-dns-proxy
	url = git@github.com:stangri/luci-app-https-dns-proxy.git
